<h2 id="evm-title"><%=l(:title_evm_tab)%></h2>
<% html_title('EVM Indicators') %>
<p id="evm-subtitle"><%=l(:subtitle_evm_tab)%></p>

<% if @project.baselines.any? %>

    <div id="evm-summary">
        <!-- Gauges -->
        <h3><%= l(:subtitle_evm_summary)%></h3>
        <div id="evm-summary-indicators">
            <div class="gauge-container">
                <h5>Schedule Performance Index</h5>
                <canvas id="spi" class="evm-gauge"></canvas>
                <p>SPI = <span id="spi-value"></span></p>
                <p>Behind Schedule < 1 < Ahead Schedule</p>
            </div>
            <div class="gauge-container">
                <h5>Cost Performance Index</h5>
                <canvas id="cpi" class="evm-gauge"></canvas>
                <p>CPI = <span id="cpi-value"></span></p>
                <p>Over Budget < 1 < Under Budget</p>


                <h5>Schedule Variance:</h5>
                <p>SV = EV - PV = <span id="sv-value"></span></p>
                <h5>Cost Variance:</h5>
                <p>CV = EV - AC = <span id="cv-value"></span></p>
                <h5>Project start date:</h5><p> <%=@project.start_date.to_date%></p>
                <h5>Project due date:</h5><p> <%=@project.due_date.to_date%></p>

            </div>
        </div>
    </div>

    <!-- Dropdown for baselines -->
    <br>
    <h3 id="evm-label-select-baseline"><%=l(:label_select_baseline) %></h3>
    <div class="styled-select">
        <%= collection_select :baseline, :id, @baselines, :id, :name, :remote => true %>
    </div>

    <!-- Main Chart -->
    <br>
    <div id="evm-main-chart"></div>
    <!-- Versions Chart -->
    <br>
    <h3>Versions</h3>
    <div id="evm-versions-charts"></div>

    <%= javascript_include_tag 'jquery',        :plugin => 'redmine_evm' %>
    <%= javascript_include_tag 'flot',          :plugin => 'redmine_evm' %>
    <%= javascript_include_tag 'flottime',      :plugin => 'redmine_evm' %>
    <%= javascript_include_tag 'flotlabel',     :plugin => 'redmine_evm' %>
    <%= javascript_include_tag 'gaugemin',      :plugin => 'redmine_evm' %>
    <%= javascript_include_tag 'drawchartgauge',:plugin => 'redmine_evm' %>
    <%= stylesheet_link_tag    'evm' ,          :plugin => 'redmine_evm' %>

    <!-- This script is the ajax way to select baselines from dropdown box -->
    <script>
        
            //Debug on the console instead of alert.
            //console.log(dropdown) ; 

            var dropdownMenu = $('#baseline_id'); //Dropdown element from html.  
            var projectId = <%= @project.id %> ;  //The current project id;
            var baselineId = dropdownMenu.val();  //The dropdown selected baseline id;
            console.log('Project ID: ' + projectId); //Debug Remove after
            console.log('Baseline ID: ' + baselineId); //Debug Remove after
            
            var mainChartData;
            var mainChartHtmlElement;
            var versionsChartData;
            var verisonChartHtmlElement;

            var plannedValue;
            var earnedValue;
            var actualCost;
            var cpi;
            var spi;

            function getDataForMainChart(projectId, baselineId){ //Get json for chart data, from baselines_controller chart_data.
                var data;
                $.ajax({
                    async: false,                 //Whithout this it would not return the json data. 
                    url: '/projects/' + projectId + '/baselines/' + baselineId + '/chart_data',
                    type: "GET",
                    dataType: "json",
                    success: function(resp) {
                        data = resp
                    }
                });
                console.log(data); //DEBUG Remove after
                return data;
            }

            function getDataForVersionsCharts(projectId, baselineId){ //Get json for chart data, from baselines_controller chart_data.
                var data;
                $.ajax({
                    async: false,                 //Whithout this it would not return the json data. 
                    url: '/projects/' + projectId + '/baselines/' + baselineId + '/versions_chart_data',
                    type: "GET",
                    dataType: "json",
                    success: function(resp) {
                        data = resp
                    }
                });
                console.log(data); //DEBUG Remove after
                return data;
            }

            function getEvmVariables(projectId, baselineId){ //Get json for chart data, from baselines_controller chart_data.
                var data;
                $.ajax({
                    async: false,                 //Whithout this it would not return the json data. 
                    url: '/projects/' + projectId + '/baselines/' + baselineId + '/evm_variables',
                    type: "GET",
                    dataType: "json",
                    success: function(resp) {
                        data = resp
                    }
                });
                console.log(data); //DEBUG Remove after
                return data;
            }

            //Upon loading the page, draws the charts by default.
            mainChartData = getDataForMainChart(projectId, baselineId);
            mainChartHtmlElement = 'graph-lines-' + baselineId;
            $('#evm-main-chart').append(
                '<div id=' + mainChartHtmlElement + ' style="width:50%;height:300px;"></div>'  //style goes to CSS
            );
            drawChart(mainChartData, mainChartHtmlElement);

            versionsChartData = getDataForVersionsCharts(projectId, baselineId);
            $.each(versionsChartData, function(key, value) {  
              verisonChartHtmlElement = 'graph-lines-version' + key;
              $('#evm-versions-charts').append(
                 '<h5>'+ versionsChartData[key].name +'</h5><div id=' + verisonChartHtmlElement + ' style="width:50%;height:300px;"></div>'
              );
              drawChart(value, verisonChartHtmlElement);
            });

            //Gauges
            evmVariables = getEvmVariables(projectId, baselineId);
            plannedValue = evmVariables['pv'];
            actualCost = evmVariables['ac'];
            earnedValue = evmVariables['ev'];
            
            spi = earnedValue / plannedValue ;
            $('#spi-value').append(spi.toFixed(3).toString());  //toFixed is the number of decimal 
            spi = spi * 1000.0;
            drawGauge(spi, 'spi');
            cpi = earnedValue / actualCost ;
            $('#cpi-value').append(cpi.toFixed(3).toString());
            cpi = cpi * 1000.0;
            drawGauge(cpi, 'cpi');
            //Schedule Variance and Cost Variance
            var scheduleVariance = earnedValue - plannedValue;
            var costVariance = earnedValue - actualCost;
            $('#sv-value').append(scheduleVariance.toFixed(3).toString());
            $('#cv-value').append(costVariance.toFixed(3).toString());


            //After changing the baseline from dropdown menu.
            dropdownMenu.change(function() {
                baselineId = $(this).val();

                console.log('Project ID: ' + projectId); //Debug Remove after
                console.log('Baseline ID: ' + baselineId); //Debug Remove after

                mainChartData = getDataForMainChart(projectId, baselineId);
                drawChart(mainChartData, mainChartHtmlElement);

                versionsChartData = getDataForVersionsCharts(projectId, baselineId);
                $.each(versionsChartData, function(key, value) {
                  verisonChartHtmlElement = 'graph-lines-version' + key;
                  drawChart(value, verisonChartHtmlElement);
                });

                evmVariables = getEvmVariables(projectId, baselineId);
                plannedValue = evmVariables['pv'];
                actualCost = evmVariables['ac'];
                earnedValue = evmVariables['ev'];

                spi = earnedValue / plannedValue ;
                alert(spi);
                $('#spi-value').replaceWith(spi.toFixed(3).toString());  //toFixed is the number of decimal 
                spi = spi * 1000.0;
                drawGauge(spi, 'spi');
                cpi = earnedValue / actualCost ;
                $('#cpi-value').replaceWith(cpi.toFixed(3).toString());
                cpi = cpi * 1000.0;
                drawGauge(cpi, 'cpi');

            });

        
    </script>

<% else %>
    <p class="nodata"><%= l(:label_no_data) %> <%= link_to l(:label_baseline_set), new_project_baseline_path(@project, :back_url => ''), :class => 'icon icon-add' %></p>
<% end %>