<%= back_url_hidden_field_tag %>
<%= error_messages_for 'baseline' %>

<% default_date = @baseline.due_date || project.due_date %>

<div class="box tabular">
  <p><%= f.text_field :name, :size => 60, :required => true %></p>
  <p><%= f.text_field :description, :size => 60 %></p>
  <p><%= f.text_field :due_date, :size => 10, :required => true , :value => default_date %><%= calendar_for('baseline_due_date') %></p>
  <p><%= label_tag "Exclude Versions"%><%= select_tag :versions_to_exclude, options_from_collection_for_select(project.versions, "id", "name"), :multiple => true %></p>
  <p>
      <label> <%=l(:label_update_estimated_hours)%> </label>
      <%= hidden_field_tag('update_estimated_hours', 0)  %>
      <%= check_box_tag 'update_estimated_hours', 1, false %>
    </p>

  <% @baseline.custom_field_values.each do |value| %>
    <p><%= custom_field_tag_with_label :baseline, value %></p>
  <% end %>

</div>
