<h2><%= @baseline.name%></h2>
<h3>Baseline from <%= @baseline.created_on %></h3>
<p><%= @baseline.description%></p>

<ul>
  <% @baseline.baseline_issues.each do |issue| %>
    <li><%= issue.original_issue_id%></li>
  <% end %>
</ul>

<ul>
  <%= @baseline.baseline_versions.each do |version| %>
    <li><%= version.original_version_id%></li>
  <% end %>
</ul>